* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    font-family: 'Roboto', sans-serif;
}

.margin_auto {
    width: 80%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

.clearFix::after {
    content: "";
    display: block; 
    clear: both;
}

.text_grey {
    color: gray;
}

/* impostazioni header */
.header_top {
    height: 60px;
    background-color: #0088cc;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.header_top a {
    color: white;
    padding-left: 20px;
    text-transform: uppercase;
}

.header_middle {
    height: 90px;
    border: 1px solid lightgrey;
}
.header_middle_content {
    height: 100%;
}
.header_middle img {
    height: 100%;
    padding: 20px;
    padding-left: 0;
}

.header_bottom {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_bottom ul {
    display: flex;
    justify-content: flex-start;
}
.header_bottom ul li a {
    color: black;
    padding-right: 20px;
}
.header_bottom ul li:first-child a{
    color: #0088cc;
}

/* impostazioni main */
main {
    
}

/* impostazioni top news */
.top_news {   
    background-color: #f7f7f7;
}

.top_news_content {
    width: calc(80% + 40px);
    margin: 0 auto;
}

.card {
    width: calc(100% / 3);
    padding: 20px;
    position: relative;
    float: left;
}

.card img {
    width: 100%;
    filter: brightness(0.6);
}

.card .card_text {
    position: absolute;
    left: 20px;
    bottom: 20px;
    color: white;
    padding: 20px;
    padding-right: 40px;
}

.card .genre {
    display: inline-block;
    background-color: #0088cc;
    padding: 5px;
    text-transform: uppercase;
}

/* impostazioni posts */
.posts>div {
    width: calc(100% / 3);
    float: left;
    padding-right: 20px;
}
.posts>div:last-child {
    padding-right: 0;
}
.posts {
    padding: 40px 0;
}

.posts ul li {
    display: flex;
    justify-content: flex-start;
    padding: 5px 0;
    border-bottom: 1px solid lightgray;
}
.posts ul li:last-child {
    border-bottom: none;
}

.posts h3 {
    padding-bottom: 20px;
}

.posts .posts_img img {
    width: 50px;
    height: 50px;
}

.posts .posts_text {
    padding-left: 5px;
}

.featured_posts .card {
    width: 100%;
    padding: 0;
    padding-bottom: 20px;
}
.featured_posts .card .card_text {
    left: 0;
    bottom: 10px;
}

.featured_author_content {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.featured_author .avatar {
    width: 80px;
    height: 80px;
}
.featured_author_text {
    padding: 0 20px
}

/* impostazioni slider */
.slider {
    background-color: #0088cc;
}

.slider_content {
    height: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.slider_content .categories {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider_content i:first-child {
    padding-right: 30px;
    color: #1c3441;
}
.slider_content i:last-child {
    padding-left: 30px;
    color: #1c3441;
}

.categories li span {
    padding: 15px 40px;
    width: calc(100% / 6);
    background-color: #212529;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

/* impostazioni latest posts */
.latest_posts_content {
    width: 75%;
    padding: 40px 30px 40px 0;
    float: left;
}

.latest_posts_content img {
    width: 100%;
}

.big_card {
    border-bottom: 1px solid lightgrey;
    margin-bottom: 30px;
    padding-bottom: 20px;
}

.big_card_text {
    position: relative;
    padding-top: 20px;
}

.big_card_text .text {
    width: calc(100% - 60px);
    float: right;
}

.big_card_text .date {
    width: 60px;
    position: absolute;
    left: 0;
    top: 20px;
    text-align: center;
    padding-right: 20px;
    font-weight: bold;
}
.big_card_text .date .day {
    background-color: #f7f7f7;
    height: 40px;
    padding-top: 10px;
}
.big_card_text .date .month {
    background-color: black;
    color: white;
    font-size: 12px;
    padding: 5px;
}

.big_card_comments {
    width: calc(100% - 60px);
    float: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}
.big_card_comments .comments {
    display: flex;
    justify-content: flex-start;
}
.big_card_comments .comments div {
    padding-right: 20px;
}
.big_card_comments .comments a {
    color: #0088cc;
}
.big_card_comments button {
    background-color: #f7f7f7;
    padding: 3px;
    color: grey;
    border-radius: 5px;
    border: 1px solid grey;
    border-bottom: 2px solid grey;
}

.big_card .images .multiple {
    width: calc(100% / 3);
    float: left;
}

.latest_posts .pages {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.pages div {
    width: 25px;
    height: 30px;
    border: 1px solid lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0088cc;
    font-weight: bold;
}
.pages .active {
    background-color: #0088cc;
    color: white;
}
.pages :hover {
    background-color: #0088cc;
    color: white;
}

/* impostazioni latest posts */
.latest_posts_social {
    width: 25%;
    float: left;
    padding-top: 40px;
}
.latest_posts_social h4 {
    padding-bottom: 20px;
    text-transform: uppercase;
}

.twitter_post {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 10px;
}
.latest_posts_social .twitter_post:last-child  {
    padding-bottom: 40px;
}
.twitter_post i {
    padding: 0 10px 0 0;
    font-size: 20px;
}
.twitter_text .date {
    color: #0088cc;
    padding: 10px 0;
}

.instagram_images img {
    width: calc(100% / 3);
    float: left;
}
.instagram_images {
    padding-bottom: 30px;
}

.tags {
    padding-bottom: 70px;
}
.tags ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.tags ul li {
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 15px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
}

.facebook a {
    color: #0088cc;
    border-left: 3px solid lightgray;
    padding: 10px;
}