<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <title>Blog</title>
</head>

<body>
    <div class="container" id="root">
        <!-- inizio header -->
        <header class="header">
            <div class="header_top" id="top_page">
                <div class="header_top_content margin_auto">
                    <span class="slogan">{{accountBar.slogan}}</span>
                    <a href="#" v-for="links in accountBar.functions"> {{links}} </a>
                </div>
            </div>
            <div class="header_middle">
                <div class="header_middle_content margin_auto">
                    <img src="images/logo-default-slim.png">
                </div>
            </div>
            <div class="header_bottom margin_auto">
                <ul>
                    <li v-for="menu in menuBar"><a href="#">{{menu}}</a></li>
                </ul>
                <i class="fas fa-search"></i>
            </div> 
        </header>
        <!-- fine header -->

        <!-- inizio main -->
        <main class="clearFix">

            <!-- inizio top news -->
            <div class="top_news clearFix">
                <div class="top_news_content">
                    <div class="card" v-for="card in news">
                        <img :src=" 'images/' + card.url">
                        <div class="card_text">
                            <h5 class="genre">{{card.category}}</h3>
                            <h4 style="padding-top: 10px;">{{card.text}}</h4>
                        </div>
                    </div>
                </div>
            </div>
            <!-- fine top news -->

            <!-- inizio posts -->
            <div class="posts margin_auto clearFix">
                <div class="popular_posts">
                    <h3>POPULAR POSTS</h3>
                    <ul>
                        <li v-for="popularPost in popularPosts">
                            <div class="posts_img">
                                <img :src=" 'images/' + popularPost.url">
                            </div> 
                            <div class="posts_text">
                                <div>{{popularPost.title}}</div>
                                <div class="text_grey">{{popularPost.date}}</div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="recent_posts">
                    <h3>RECENT POSTS</h3>
                    <ul>
                        <li v-for="recentPost in recentPosts">
                            <div class="posts_img">
                                <img :src=" 'images/' + recentPost.url" alt="">
                            </div> 
                            <div class="posts_text">
                                <div>{{recentPost.title}}</div>
                                <div class="text_grey">{{recentPost.date}}</div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="featured_posts">
                    <h3>FEATURED POSTS</h3>
                    <div class="card">
                        <img src="images/blog-66.jpg">
                        <div class="card_text">
                            <h5 class="genre">PHOTOGRAPHY</h3>
                            <h4>HOW TO TAKE BETTER CONCERT PICTURES IN 30 SECOND</h4>
                        </div>
                    </div>
                    <div class="featured_author">
                        <h3>FEATURED AUTHOR</h3>
                        <div class="featured_author_content">
                            <img src="images/avatar.jpg" class="avatar">
                            <div class="featured_author_text">
                                <h4>John Doe</h4>
                                <p class="text_grey">Lorem ipse devoluptatibus officiis fuga esse id nisi sit aperiam ad quisquam dolorum ullam.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- fine posts -->

            <!-- inizio slider -->
            <div class="slider">
                <div class="slider_content margin_auto">
                    <i class="fas fa-chevron-left"></i>
                    <ul class="categories">
                        <li>Gadgets</li>
                        <li>Photography</li>
                        <li>Lifestyle</li>
                        <li>Fashion</li>
                        <li>Recipes</li>
                        <li>Travel</li>
                    </ul>
                    <i class="fas fa-chevron-right"></i>
                </div>
            </div>
            <!-- fine slider -->

            <!-- inizio latest posts -->
            <div class="latest_posts margin_auto">
                <div class="latest_posts_content">

                    <div class="big_card clearFix" v-for="bigCard in latestPosts" >
                        <div class="images clearFix">
                            <img v-for="(image, index) in bigCard.url" :src=" 'images/' + image" 
                            :class="bigCard.url.length > 1 ? 'multiple' : null">
                        </div>
                        <div class="big_card_text">
                            <div class="date">
                                <div class="day">{{bigCard.date.day}}</div>
                                <div class="month">{{bigCard.date.month}}</div>
                            </div>
                            <div class="text">
                                <h2>{{bigCard.title}}</h2>
                                <p>{{bigCard.text}}</p>    
                            </div>
                        </div>
                        <div class="big_card_comments">
                            <div class="comments text_grey">
                                <div><i class="far fa-user"></i> By<a href="#"> {{bigCard.author}}</a></div>
                                <div><i class="far fa-folder"></i><a href="#" v-for="categ in bigCard.category"> {{categ}},</a></div>
                                <div><i class="far fa-comments"></i><a href="#"> 12 Comments</a></div>
                            </div>
                            <button>READ MORE</button>
                        </div>
                    </div>

                    <div class="pages">
                        <div><i class="fas fa-chevron-left"></div></i>
                        <div class="active">1</div>
                        <div>2</div>
                        <div>3</div>
                        <div><i class="fas fa-chevron-right"></i></div>
                    </div>

                </div>
                <!-- barra destra con post social -->
                <div class="latest_posts_social">
                    <div class="twitter">
                        <h4>LATEST FROM TWITTER</h4>
                        <div class="twitter_post">
                            <i class="fab fa-twitter"></i>
                            <div class="twitter_text">
                                <p class="text_grey">If you have any suggestions for the next updates, let us know.</p>
                                <div class="date">01:05 PM Sep 18th</div>
                            </div>
                        </div>

                        <div class="twitter_post">
                            <i class="fab fa-twitter"></i>
                            <div class="twitter_text">
                                <p class="text_grey">We have just updated Porto Admin. Check the changelog for more information.</p>
                                <div class="date">01:04 PM Sep 18th</div>
                            </div>
                        </div>
                    </div>

                    <div class="instagram">
                        <h4>PHOTOS FROM INSTAGRAM</h4>
                        <div class="instagram_images clearFix">
                            <img v-for="instaImg in instagramPhotos" :src=" 'images/' + instaImg" alt="">
                        </div>
                    </div>

                    <div class="tags">
                        <h4>Tags</h4>
                        <ul>
                            <li>Design</li>
                            <li>Brands</li>
                            <li>Video</li>
                            <li>Business</li>
                            <li>Travel</li>
                        </ul>
                    </div>

                    <div class="facebook">
                        <h4>Find us on Facebook</h4>
                        <div><a href="#">Okler Themes</a></div>
                    </div>
                </div>
            </div>
            <!-- fine latest posts -->
        </main>
        <!-- fine main -->

        <!-- inizio footer -->
        <footer>
            <div class="footer_content margin_auto clearFix">
                <div class="triangle"></div>
                <div class="post_it">Get in Touch</div>

                <div class="footer_blog">
                    <h4>About the blog</h4>
                    <p class="text_grey">Lorem ipsum dolor praesentium tempore magnam veritatis ipsum nihil.</p>
                    <p class="text_grey">Lorem ipsum dolor sit amequam repudiandae tenetur rem enim?</p>
                    <a href="#">View more ></a>
                </div>

                <div class="footer_recent_posts">
                    <h4>Recent posts</h4>
                    <div class="little_card" v-for="littleCard in footerRecentPosts">
                        <img :src=" 'images/' + littleCard.url">
                        <div class="little_card_text">
                            <h5>{{littleCard.title}}</h5>
                            <div class="date text_grey">
                                <div class="hour">{{littleCard.date.hour}}</div>
                                <div class="month">{{littleCard.date.month}}</div>
                                <div class="day">{{littleCard.date.day}}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="footer_recent_comments">
                    <h4>Recent comments</h4>
                    <div class="comment" v-for="comment in footerComments">
                        <div><i class="fas fa-chevron-right"></i> {{comment.author}} commented on <a href="#">{{comment.link}}</a></div>
                        <div class="date text_grey">
                            <div class="hour">{{comment.date.hour}}</div>
                            <div class="month">{{comment.date.month}}</div>
                            <div class="day">{{comment.date.day}}</div>
                        </div>
                    </div>
                </div>

                <div class="footer_categories">
                    <h4>Categories</h4>
                    <ul>
                        <li v-for="category in footerCategories">{{category}}</li>
                    </ul>
                </div>
            </div> 

            <div class="faq">
                <div class="faq_content margin_auto">
                    <div class="faq_left">
                        <img :src=" 'images/' + footerFaq.image" id="logo_footer">
                        <div class="copiright">{{footerFaq.copiright}}</div>
                    </div>
                    <div class="faq_right">
                        <ul>
                            <li v-for="link in footerFaq.links"><a href="#"><i class="fas fa-chevron-right"></i> </a> {{link}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!-- fine footer -->
        <div class="button_scroll_up"><a href="#top_page"><i class="fas fa-chevron-up"></i></a></div>
    </div> <!--fine container-->
    
    <script src="js/master.js"></script>
</body>
</html>